{% extends 'base.html'%}

{% block head%} 
    <title>seller_sale_page</title>
{% endblock%}
{% block body%} 
    <h1>賣家_訂單資訊</h1>

    {% for item in it %}
        <h3>{{ item.addr }}</h3>
        <h4>價格/小時: {{ item.p }}</h4>
        <h4>行李大小限制: {{ item.s }}</h4>
        <h4>安全性: {{ item.safe }}</h4>
        <!-- <a  class="btn btn-danger" href='/favorites/delete/{{item.id}}'>不成立</a> -->
        <a  class="btn btn-primary" href='/sale/success_process/{{item.id}}'>訂單詳情</a>
    {% endfor%}

{% endblock%}