

{% extends 'layout.html' %}
{% block title %} 編輯個人資料 {% endblock %}
{% block content %}
<div class="container">
    <form action="/editUserData/{id}" method="POST">
        
        <div class="form-group">
            <label for="exampleInputEmail1">姓名:</label>
            <input class="form-control" type="text" name="name" value={{userData.name}} required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">ID:</label>
            <input class="form-control" type="text" name="id" value={{userData.id}} readonly>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">手機:</label>
            <input class="form-control" type="tel" name="phone" value={{userData.phone}} required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">信箱:</label>
            <input class="form-control" type="email" name="email" value={{userData.email}} required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">密碼:</label>
            <input class="form-control" type="text" name="password" value={{userData.password}} required>
        </div>
        <div>
            <input type="submit" name="edit" value="Edit">
        </div>
    </form>
</div>
{% endblock %}
